body { 
    font-family: "Roboto", sans-serif;
    color: #434455;
    background-color: #ffffff;
}

ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

a {text-decoration: none;}
img {
    display: block;
    max-width: 100%; 
    height: auto;
}
h1,h2,h3,h4 {
    margin: 0;
}
p {
    margin: 0;
}



                            /* HEADER */


.header { border-bottom: 1px solid #e7e9fc;
}
.container {
    width: 1158px;
    padding: 0 15px;
    margin: 0 auto;
}
.header-container { 
    display: flex;
align-items: center;
}
.header-navigation { 
    display: flex;
    align-items: center;
}
.header-logo { 
font-family: "Raleway", sans-serif;
font-size: 18px;
font-weight: 700;
line-height: 1.17;
letter-spacing: 0.03em;
text-align: left;
text-transform: uppercase;
color: #4d5ae5;
margin-right: 76px;
}
.header-list { 
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0.02em;
    text-align: left;
    color: #2e2f42;
    display: flex;
    gap: 40px;
}
.header-item {
}
.header-item-link { 
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0.02em;
    text-align: left;
    color: #2e2f42;
    padding: 24px 0;
    display: block;   
}
.header-item-link:hover, .header-item-link:active, .header-item-link:focus {
   color: #404bbf;
}
.header-address { 
    font-style: normal;
    margin-left: auto;
}
.header-address-list { 
    display: flex;
    gap: 40px;
}
.header-address-item {
}
.header-address-link { 
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.02em;
    text-align: left;
    color: #434455;   
}
.header-address-link:hover, .header-address-link:focus, .header-address-link:active {
    color: #404BBF;
}
.header-colored { color: #2e2f42;    
}
                                     /* TITLE */


.hero { 
    background-color: #2E2F42;
    padding: 188px 0;
}
.hero-container {
    width: 1440px;
    height: 600px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.hero-title { 
    font-size: 56px;
    font-weight: 700;
    line-height: 60px;
    letter-spacing: 0.02em;
    text-align: center;
    color: #ffffff;
    line-height: 1.07;
    max-width: 496px;
    margin-bottom: 48px; 
}
.hero-btn { 
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0.04em;
    text-align: left;
    color: #ffffff;
    cursor: pointer;
    background-color: #4D5AE5;
    min-width: 169px;
    padding: 16px 32px;   
    border: none;
    border-radius: 4px;
    display: block;
    margin: 0 auto;
    
}
.hero-btn:hover, .hero-btn:focus, .hero-btn:active {
    background-color: #404BBF;
}
                           /* ADVANTAGES */


.advantages { 
    background-color: #ffffff;
    padding: 120px 0; 
}
.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
  }
.advantages-container {
    display: flex;
} 
.advantages-subtitle {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
    margin-bottom: 8px;
}
.advantages-list { 
    display: flex;
    gap: 24px;
    margin-bottom: 120px;
    margin-top: 120px;
}
.advantages-item { width: 264px;}
.advantages-text { 
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.02em;
    text-align: left;
    color: #434455;    
} 
                                           /* OUR TEAM */


.team { 
    background-color: #f4f4fd;
    color: #2E2F42;
    padding: 120px 0;
}
.team-container { padding-bottom: 120px;
}
.team-title {
    font-size: 36px;
    font-weight: 700;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-align: center;
    text-transform: capitalize;
    padding-top: 120px;
    margin-bottom: 72px;
    margin-top: 0;
}
.team-list { display: flex;
    gap: 24px;
}
.team-item { 
    width: calc((100% - 72 / 4)); 
    border-radius: 0px 0px 4px 4px;   
}
.team-image { 
    border-bottom: 1px solid #e7e9fc;
    margin-bottom: 32px;
    display: block;
    margin: 0 auto;
}
.team-item-container {
    padding: 32px 0;
    background-color: #ffffff;
}

.team-subtitle { 
    font-size: 20px;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0.02em;
    text-align: center;
    margin-bottom: 8px;
    margin-top: 0;
    background-color: #ffffff;
}
.team-text {
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.02em;
    text-align: center;
    color: #434455;
    padding-bottom: 32px;
    background-color: #ffffff ;   
}

                                                  /* PORTFOLIO */


.portfolio { color: #2E2F42;
padding-top: 120px;
padding-bottom: 120px;}

.portfolio-container {
}
.portfolio-item-container {
    padding: 32px 16px; 
    border: 1px solid #e7e9fc;
    border-top: none;
    
}
.portfolio-title { 
    font-size: 36px;
    font-weight: 700;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-align: center;
    text-transform: capitalize;
    content: #2e2f42;
    margin-bottom: 72px;    
}
.portfolio-list { display: flex;
    flex-wrap: wrap;
    column-gap: 24px;
    row-gap: 48px;
    margin-right: 0;
}
.portfolio-item { border: 1px solid #E7E9FC;
    width: calc((100% - 48px) / 3);
}
.portfolio-image { display: block;
    margin-bottom: 32px;
    margin-top: 0;
}
.portfolio-subtitle { 
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.02em;
    text-align: left;
    color: #2e2f42;
    margin-bottom: 8px;
    padding-left: 16px;
}
.portfolio-text { 
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.02em;
    text-align: left;
    color: #434455;
    padding-left: 16px;
}
                                /* FOOTER */

.footer { 
    color: #f4f4fd;
    background-color: #2E2F42;
    padding: 100px 0;      
}
.footer-container { 
    padding-top: 100px;
    padding-left: 156px; 
}
.footer-logo { 
    font-family: "Raleway", sans-serif;
    font-size: 18px;
    font-weight: 700;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-align: left;
    text-transform: uppercase;
    color: #4d5ae5;
    display: inline-block;
    margin-bottom: 16px;   
}
.footer-colored { color: #f4f4fd;
    display: inline-block;
    margin-bottom: 16px;
}
.footer-text {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    text-align: left;
    color: #f4f4fd;
    padding-bottom: 100px;
    max-width: 264px;
}


