body { 
    font-family: "Roboto", sans-serif;
    color: #434455;
    background-color: #ffffff;
}

ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

a {text-decoration: none;}
img {
    display: block;
    max-width: 100%; 
    height: auto;
}
h1,h2,h3,h4 {
    margin: 0;
}
p {
    margin: 0;
}
                            /* HEADER */


.header { 
    border-bottom: 1px solid #e7e9fc;
    box-shadow: 0 1px 6px 0 rgba(46, 47, 66, 0.08), 0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 2px 1px 0 rgba(46, 47, 66, 0.08);
    background-color: #ffffff;
}
.container {
    width: 1158px;
    padding: 0 15px;
    margin: 0 auto;
}
.header-container { 
    display: flex;
align-items: center;
}
.header-navigation { 
    display: flex;
    align-items: center;
}
.header-logo { 
font-family: "Raleway", sans-serif;
font-size: 18px;
font-weight: 700;
line-height: 1.17;
letter-spacing: 0.03em;
text-align: left;
text-transform: uppercase;
color: #4d5ae5;
margin-right: 76px;
}
.header-list { 
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0.02em;
    text-align: left;
    color: #2e2f42;
    display: flex;
    gap: 40px;
}
.header-item {
}
.header-item-link { 
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0.02em;
    text-align: left;
    color: #2e2f42;
    padding: 24px 0;
    display: block;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);  
}
.header-item-link:hover, .header-item-link:active, .header-item-link:focus {
   color: #404bbf;
}
.link-studio {
    position: relative;
    color: #404bbf;
}
.link-studio::after { 
    content: "";
    border-radius: 2px;
    height: 4px;
    width: 100%;
    background-color: #404bbf;
    position: absolute;
    bottom: -1px;
    left: 0;
}
.header-address { 
    font-style: normal;
    margin-left: auto;
}
.header-address-list { 
    display: flex;
    gap: 40px;
}
.header-address-item {
}
.header-address-link { 
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.02em;
    text-align: left;
    color: #434455;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);    
}
.header-address-link:hover, .header-address-link:focus, .header-address-link:active {
    color: #404BBF;
}
.header-colored { color: #2e2f42;    
}
                                     /* TITLE */


.hero { 
    background-color: #2E2F42;
    padding: 188px 0;
    background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url("../images/people-office-1.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    max-width: 1440px;
    background-position: center;
    margin: 0 auto;
}


.hero-title { 
    font-size: 56px;
    font-weight: 700;
    line-height: 60px;
    letter-spacing: 0.02em;
    text-align: center;
    color: #ffffff;
    line-height: 1.07;
    max-width: 496px;
    margin: 0 auto;
    margin-bottom: 48px;
}
.hero-btn { 
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0.04em;
    text-align: left;
    color: #ffffff;
    cursor: pointer;
    background-color: #4D5AE5;
    min-width: 169px;
    padding: 16px 32px;   
    border: none;
    border-radius: 4px;
    display: block;
    margin: 0 auto;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    
}
.hero-btn:hover, .hero-btn:focus, .hero-btn:active {
    background-color: #404BBF;
}
                           /* ADVANTAGES */

.icon-box {
border: 1px solid #8E8F99;
border-radius: 4px;
width: 264px;
height: 112px;
background-color: #F4F4FD;
display: flex;
justify-content: center;
align-items: center;
margin-bottom: 8px;
}
.icon {
    width: 64px;
    height: 64px;
}
.advantages { 
    background-color: #ffffff;
    padding: 120px 0; 
}
.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
  }
.advantages-container {
    display: flex;
} 
.advantages-subtitle {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
    margin-bottom: 8px;
}
.advantages-list { 
    display: flex;
    gap: 24px;
}
.advantages-item { width: 264px;}
.advantages-text { 
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.02em;
    text-align: left;
    color: #434455;    
} 
                                           /* OUR TEAM */


.team { 
    background-color: #f4f4fd;
    color: #2E2F42;
    padding: 120px 0;
}

.team-title {
    font-size: 36px;
    font-weight: 700;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-align: center;
    text-transform: capitalize;
    margin-bottom: 72px;
    margin-top: 0;
}
.team-list { display: flex;
    gap: 24px;
}
.team-item {
    width: calc((100% - 72px) / 4);
    border-radius: 0px 0px 4px 4px;
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}
.team-image { 
    border-bottom: 1px solid #e7e9fc;
    display: block;
    margin: 0 auto;
}
.team-item-container {
    padding: 32px 0;
    background-color: #ffffff;
}

.team-subtitle { 
    font-size: 20px;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0.02em;
    text-align: center;
    margin-bottom: 8px;
    margin-top: 0;
    background-color: #ffffff;
}
.team-text {
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.02em;
    text-align: center;
    color: #434455;
    background-color: #ffffff ;
    margin-bottom: 8px;   
}
.networks-container {
    display: flex;
    gap: 24px;
    justify-content: center;
    align-items: center;
}

.social-networks-box {
    width: 40px;
    height: 40px;
    background-color: #4D5AE5;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.svg-icon {
    fill: #f4f4fd;
}
.social-networks-box:hover,:focus {
    background-color: #404bbf;
}

                                                  /* PORTFOLIO */


.portfolio { color: #2E2F42;
padding-top: 120px;
padding-bottom: 120px;}

.portfolio-container {
}
.portfolio-item-container {
    padding: 32px 16px; 
    border: 1px solid #e7e9fc;
    border-top: none;
    
}
.portfolio-title { 
    font-size: 36px;
    font-weight: 700;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-align: center;
    text-transform: capitalize;
    content: #2e2f42;
    margin-bottom: 72px;    
}
.portfolio-list { 
    display: flex;
    flex-wrap: wrap;
    column-gap: 24px;
    row-gap: 48px;
    margin-right: 0;
}
.portfolio-item { 
    width: calc((100% - 48px) / 3);
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);}

.box-app:hover .text-app {
    transform: translateY(0);
}

.box-app {
    position: relative;
    overflow: hidden;
}

.text-app{
font-size: 16px;
line-height: 150%;
letter-spacing: 0.02em;
color: #F4F4FD;
position: absolute;
top: 0;
height: 100%;
background-color: #4d5ae5;
padding: 40px 32px; 
text-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
transform: translateY(100%);
} 


.text-app:hover {
    text-decoration: underline;
}
.portfolio-image { 
    display: block;
    margin-top: 0;
}
.portfolio-subtitle { 
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.02em;
    text-align: left;
    color: #2e2f42;
    margin-bottom: 8px;
}
.portfolio-text { 
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.02em;
    text-align: left;
    color: #434455;
}
                                /* FOOTER */

.footer {
    color: #f4f4fd;
    background-color: #2E2F42;
    padding: 100px 0;
    
}

.footer-logo { 
    font-family: "Raleway", sans-serif;
    font-size: 18px;
    font-weight: 700;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-align: left;
    text-transform: uppercase;
    color: #4d5ae5;
    display: inline-block;
    margin-bottom: 16px;   
}
.footer-colored { color: #f4f4fd;
}
.footer-text {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    text-align: left;
    color: #f4f4fd;
    max-width: 264px;
}
.footer-media-text {
    font-weight: 500;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 0.02em;
    color: #ffffff;
    margin-bottom: 16px;
}
.footer-media-list {
    display: flex;
    gap: 16px;
    justify-content: center;
    align-items: center;
}
.media-box { 
    max-width: 208px;
 }
 .footer-container { 
    display: flex;
    align-items: baseline;
 }
.logo-box {
    margin-right: 120px;
}

.footer-media {
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.footer-media:hover {
    background-color: #31D0AA;
}
.footer-media:focus {
    background-color: #31D0AA;  
}    

.form-box {
    margin-left: 80px;
}

.text-form {
    display: flex;
    flex-direction: column;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #ffffff;
    margin-bottom: 16px;
    font-size: 16px;
}
.footer-form {
    display: flex;
    gap: 24px;
}
.input-form{
    font-family: inherit;
    border: 1px solid #ffffff;
    border-radius: 4px;
    width: 264px;
    height: 40px;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
    background-color: transparent;
    line-height: 2;
    letter-spacing: 0.04em;
    padding-left: 16px;
    color: #ffffff;
    font-size: 12px;

}
.input-form::placeholder {
letter-spacing: 0.04em;
color: #ffffff;
}
.footer-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 16px;
    border-radius: 4px;
    padding: 8px 24px;
    min-width: 165px;
    height: 40px;
    background-color: #4d5ae5;
    font-weight: 500; 
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    text-align: center;
    color: #ffffff;
    border: none;
    cursor: pointer;
}
.icon-send {
    margin-left: 16px; 
}

.backdrop {
    width: 100%;
    height: 100%;
    background-color: rgba(46, 47, 66, 0.4);
    position: fixed;
    top: 0;
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.is-open {
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
}
.modal {
    position: absolute;
    width: 408px;
    min-height: 584px;
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 1px 3px 0 rgba(0, 0, 0, 0.12), 0 2px 1px 0 rgba(0, 0, 0, 0.2);
    background-color: #fcfcfc;
    border-radius: 4px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 72px 24px 24px 24px; 
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);

}
.modal-btn {
    width: 24px;
    height: 24px;
    stroke-width: 1px;
    stroke: rgba(0, 0, 0, 0.1);
    position: absolute;
    right: 24px;
    top: 24px;
    border-radius: 50%;
    background-color: #E7E9FC;
    border: 1px solid rgba(0, 0, 0, 0.1);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
    cursor: pointer;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-btn:hover {
    background-color: #404BBF;
    fill: #ffffff;
    border: none;
}
.modal-btn:focus {
    background-color: #404bbf;
    fill: #ffffff;
    border: none;
}
.icon-x {
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1); 
}
.modal-text {
    font-weight: 500; 
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    text-align: center;
    color: #2e2f42;
    margin-bottom: 16px;
}
.modal-field {
    margin-bottom: 8px;
}
.modal-label {
    font-size: 12px;
    line-height: 1.17; 
    letter-spacing: 0.04em;
    color: #8e8f99;
    display: block;
    margin-bottom: 4px;
}
.label-text { 
    font-size: 12px;
    line-height: 1.17; 
    letter-spacing: 0.04em;
    color: #8e8f99;
    display: block;
    margin-bottom: 4px;
}
    

.modal-input {
    width: 100%;
    height: 40px;
    padding-left: 38px;
    background-color: transparent;   
    border: 1px solid rgba(46, 47, 66, 0.4);
    border-radius: 4px;
    outline: transparent;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1); 
}
svg {
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-input:focus {
    border-color: #4D5AE5;
}
.modal-input:focus + .modal-icon {
    fill: #4D5AE5;
}

.modal-field-box {
    position: relative;
}
.modal-icon { 
    position: absolute;
    left: 16px;
    top: 50%;
    transform: translateY(-50%);
}
.modal-wrap {
    margin-bottom: 16px;
}
.modal-textarea {
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: rgba(46, 47, 66, 0.4);
    border: 1px solid rgba(46, 47, 66, 0.4);
    border-radius: 4px;
    width: 360px;
    height: 120px;
    outline: transparent;
    background-color: transparent;
    padding: 8px 16px;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1); 
    resize: none;
}
.modal-textarea:focus {
    border-color: #4D5AE5;
}
.modal-textarea::placeholder {
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    padding-top: 8px;
}
.modal-checkbox-wrap {
    margin-bottom: 24px;
}
.modal-check {
    width: 24px;
    height: 24px;
}
.checkbox-text { 
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: #8e8f99;
    margin-top: 14px;
    margin-bottom: 26px;
}
.checkbox-text-colored {
    line-height: 1.33px;
    letter-spacing: 0.04em;
    text-decoration: underline;
    text-decoration-skip-ink: none;
    color: #4d5ae5;
}
.checkbox-text-icon {
    width: 16px;
    height: 16px;
    border-radius: 2px;
    border-color: #2E2F42;
    margin-right: 12px;
    fill: transparent;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
    border: 1px solid rgba(46, 47, 66, 0.4);
    display: inline-flex;
    justify-content: center;
    align-items: center;
}
.modal-check:checked + .checkbox-text > .checkbox-text-icon {
    background-color: #404BBF;
    border: none;
    fill: #F4F4FD;
}

.checkbox-btn {
    display: block;
    border-radius: 4px;
    padding: 16px 32px;
    min-width: 169px;
    height: 56px;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
    background-color: #4d5ae5;
    text-align: center;
    font-size: 16px;
    font-weight: 500;
    color: #fff;
    margin: 0 auto;
    line-height: 1.5;
    letter-spacing: 0.04em;
    cursor: pointer;
    border:none;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
