body { 
    font-family: "Roboto", sans-serif;
    color: #434455;
    background-color: #ffffff;
}

ul {
    list-style-type: none;
}

a {text-decoration: none;}



                            /* HEADER */


.header {
}

.header-navigation {
}
.header-logo { 
font-family: "Raleway", sans-serif;
font-size: 18px;
font-weight: 700;
line-height: 1.17;
letter-spacing: 0.03em;
text-align: left;
text-transform: uppercase;
color: #4d5ae5;
;
  
}
.header-list { 
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0.02em;
    text-align: left;
    color: #2e2f42;  
}
.header-item {
}
.header-item-link { 
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0.02em;
    text-align: left;
    color: #2e2f42;   
}
.header-item-link:hover, .header-item-link:active, .header-item-link:focus{
    background-color: #404BBF
}
.header-address { font-style: normal;
}
.header-address-list {
}
.header-address-item {
}
.header-address-link { 
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.02em;
    text-align: left;
    color: #434455;
    
}
.header-address-link:hover, .header-address-link:focus, .header-address-link:active{
    color: #404BBF;
    ;
}
.header-colored { color: #2e2f42;
    ;    
}
                                     /* TITLE */


.hero { background-color: #2E2F42;
}
.hero-title { 
    font-size: 56px;
    font-weight: 700;
    line-height: 60px;
    letter-spacing: 0.02em;
    text-align: center;
    color: #ffffff;
    line-height: 1.07;   
}
.hero-btn { 
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0.04em;
    text-align: left;
    color: #ffffff;
    cursor: pointer;
    background-color: #4D5AE5;   
}
.hero-btn:hover, .hero-btn:focus, .hero-btn:active{
    color: #404BBF;
}
                           /* ADVANTAGES */


.advantages { background-color: #ffffff;
}
.advantuges-title {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em
}
.advantages-list {
}
.advantages-item {
}
.advantages-subtitle {
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.02em;
    text-align: left;
    color: #2e2f42 ;
}
.advantages-text { 
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.02em;
    text-align: left;
    color: #434455;    
} 
                                           /* OUR TEAM */


.team { background-color: #f4f4fd;
    color: #2E2F42;
}
.team-title {
    font-size: 36px;
    font-weight: 700;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-align: center;
    text-transform: capitalize;
}
.team-list { 
}
.team-item { background-color: #FFFFFF;
}
.team-image {
}
.team-subtitle { 
    font-size: 20px;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0.02em;
    text-align: center;
    
}
.team-text {
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.02em;
    text-align: center;
    color: #434455;
}

                                                  /* PORTFOLIO */


.portfolio { color: #2E2F42;}
.portfolio-title { 
    font-size: 36px;
    font-weight: 700;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-align: center;
    text-transform: capitalize;
    content: #2e2f42 ;    
}
.portfolio-list {
}
.portfolio-item {
}
.portfolio-image {
}
.portfolio-subtitle { 
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.02em;
    text-align: center;
    color: #2e2f42;
}
.portfolio-text { 
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.02em;
    text-align: center;
    color: #434455;
}

.footer { color: #f4f4fd;
    background-color: #2E2F42;
}
.footer-logo { 
    font-family: "Raleway", sans-serif;
    font-size: 18px;
    font-weight: 700;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-align: left;
    color: #4d5ae5;
    
}
.footer-colored { color: #f4f4fd;
}
.footer-text {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    text-align: left;
    color: #f4f4fd;
}


